<template>
  <div class="hello">
    <h1>ESA Course Web Application Template</h1>
    <table-example/>
  </div>
</template>

<script>
import TableExample from './TableExample.vue'
export default {
  components: { TableExample },
  name: 'HelloWorld',
  data() {
    return {

    }
  }
}
</script>

<style scoped>

</style>
